@import "./fonts.css";
@import "./colors.css";

.title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-extrabold);
    color: var(--color-gray-scale-1);
    background-color: var(--color-primary);
}

.subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-semibold);
}

.body {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

.placeholder {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-scale-4);
}

.caption {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-bold);
}

.button {
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-bold);
}
